@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.home__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  left: initial;
  top: initial;
  right: initial;
  bottom: initial;
  z-index: 0;
  width: 100%;
  height: default;
  background-color: RGBA(238, 238, 238, 1);
  font-family: Montserrat; }

.nav-container {
  position: fixed;
  left: initial;
  top: 0;
  right: initial;
  bottom: initial;
  z-index: 10;
  width: 1240px;
  height: 70px; }
  .nav-container .nav-logo {
    position: absolute;
    left: 0;
    top: initial;
    right: initial;
    bottom: initial;
    z-index: 0;
    width: 70px;
    height: 70px;
    background-color: RGBA(34, 34, 34, 1);
    background-image: url("../imgs/bc-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    margin-right: 5px; }
  .nav-container .home__nav {
    display: flex;
    flex-direction: row;
    justify-content: "space-between";
    align-items: center;
    align-content: flex-start;
    width: 1240px;
    height: 70px;
    position: fixed;
    left: initial;
    top: 0;
    right: initial;
    bottom: initial;
    z-index: 0;
    background-color: RGBA(34, 34, 34, 1);
    color: RGBA(100, 100, 100, 1);
    transition: top .2s .3s;
    font-size: .75rem; }
    .nav-container .home__nav .nav-placeholder {
      width: 19px;
      height: 19px;
      margin-right: 5px; }
    .nav-container .home__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      margin: 0 28px 0 25px;
      letter-spacing: .6px; }
      .nav-container .home__nav ul li {
        position: relative;
        left: initial;
        top: 1px;
        right: initial;
        bottom: initial;
        z-index: 0;
        display: inline;
        margin-left: 36px; }
    .nav-container .home__nav li:hover {
      color: white;
      cursor: pointer; }
    .nav-container .home__nav.hidden {
      top: -70px; }

#we-believe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden; }
  #we-believe #we-believe__vid {
    position: absolute;
    left: -100px;
    top: -100px;
    right: initial;
    bottom: initial;
    z-index: 0;
    width: 130%;
    height: 130%; }
  #we-believe .believe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 848px;
    height: 470px;
    position: relative;
    left: initial;
    top: initial;
    right: initial;
    bottom: 23px;
    z-index: 5; }
  #we-believe .believe-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    background-color: unset;
    background-image: url("../imgs/we-believe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 848px;
    height: 315px; }
  #we-believe .believe-copy {
    width: 555px;
    height: default;
    font-size: 0.85rem;
    font-family: unset;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.7px;
    line-height: 1.7rem;
    margin-top: 13px;
    color: RGBA(238, 238, 238, 1); }
  #we-believe .play-video {
    width: 50px;
    height: 50px;
    border: 2px solid RGBA(250, 250, 250, 1);
    border-radius: 50%;
    margin-top: 29px; }

#tour {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100vw;
  height: default;
  background-color: RGBA(238, 238, 238, 1); }
  #tour .tour-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 130px;
    height: 50px;
    font-size: .7rem;
    margin: 150px 0 57px 0;
    border: 2px solid RGBA(217, 217, 217, 1);
    color: RGBA(189, 189, 189, 1); }
  #tour .tour-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 628px;
    height: default; }
    #tour .tour-copy h1 {
      font-size: 3rem;
      font-family: "Sentinel";
      font-weight: 200;
      text-align: inherit;
      letter-spacing: 0.9px;
      line-height: normal;
      color: RGBA(34, 34, 34, 1); }
    #tour .tour-copy p {
      font-size: 0.95rem;
      font-family: Montserrat;
      font-weight: 200;
      text-align: center;
      letter-spacing: unset;
      line-height: 1.6rem;
      color: RGBA(105, 105, 105, 1);
      margin: 20px 0 70px 0; }
  #tour .tour-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 1240px;
    height: 530px;
    position: relative;
    left: initial;
    top: initial;
    right: initial;
    bottom: initial;
    z-index: 0;
    margin: 3px 0 150px 0;
    border-radius: 7px;
    overflow: hidden; }
    #tour .tour-carousel .carousel-container {
      width: 1240px;
      height: 530px;
      position: absolute;
      left: 0;
      top: initial;
      right: initial;
      bottom: initial;
      z-index: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      border: medium solid blue; }
    #tour .tour-carousel .img {
      width: calc(413.33333px);
      height: 530px;
      border: medium solid purple;
      overflow: hidden; }
    #tour .tour-carousel .side {
      width: calc(620px);
      height: 530px;
      opacity: .2; }
    #tour .tour-carousel .left-button {
      background-color: red;
      cursor: w-resize; }
    #tour .tour-carousel .right-button {
      background-color: green;
      cursor: e-resize; }
  #tour .spacer {
    width: 100px;
    height: 100px;
    background-color: green;
    margin-top: 1000px; }

.texture-border {
  width: 100vw;
  height: 300px;
  position: absolute;
  left: initial;
  top: initial;
  right: initial;
  bottom: 0;
  z-index: 100;
  background-color: unset;
  background-image: url("../imgs/texture.png");
  background-position: center bottom -5px;
  background-repeat: no-repeat;
  background-size: auto; }

@media (max-width: 1400px) {
  .home__nav, .nav-container {
    width: 840px; } }

html {
  background-color: RGBA(238, 238, 238, 1); }
