<section class="home__main">
  <div class="nav-container">
    <nav class="home__nav">
      <ul class="home__nav-left">
        <div class="nav-placeholder"></div>
        <li>Tour</li>
        <li>Examples</li>
        <li>Pricing & Sign Up</li>
      </ul>
      <ul id="home__nav-right">
        <li>Log In</li>
        <li>Help</li>
        <li>Blog</li>
      </ul>
    </nav>
    <div class="nav-logo"></div>
  </div>

  <div id="we-believe">
    <video autoplay loop="true" id="we-believe__vid">
      <source src="./imgs/vids/bgvid-1280x720-rf25-fb99e44c.webm" type="video/webm">
    </video>
    <div class="believe-container">
      <div class="believe-text"></div>
      <p class="believe-copy">
        Join nearly a million makers, designers, musicians, and other artists using Big Cartel to build a unique online store and run a creative business.
      </p>
      <div class="play-video"></div>
    </div>
  </div>

  <div id="built-for-makers"></div>


</section>


<script type="text/javascript" src="js/jq/home.js"></script>