.home__main {
  @include flexBox(column);
  @include pos(relative);
  @include size($w:100%);
  background-color: $lightGray;
  font-family: Montserrat;
}

.nav-container {
  @include pos(fixed, $t:0, $z:10);
  @include size($w:$navWidth, $h:$navHeight);

  .nav-logo {
    @include pos(absolute, $l:0);
    @include size(70px, 70px);
    @include bg($c:$navGray, $i:'../imgs/bc-white.png', $p:center, $s:15px);
    margin-right: 5px;
  }

  .home__nav {
    @include flexBox($justify:'space-between', $alignI:center);
    @include size($navWidth, $navHeight);
    @include pos(fixed, $t:0);
    background-color: $navGray;
    color: RGBA(100, 100, 100, 1.00);
    transition: top .2s .3s;
    font-size: .75rem;
    .nav-placeholder { 
      @include size(19px, 19px);
      margin-right: 5px;
    }
    ul {
      @include flexBox;
      margin: 0 28px 0 25px;
      li { 
        @include pos(relative, $t:1px);
        display: inline; 
        margin-left: 36px;
      }
      letter-spacing: .6px;
    }

    & li:hover { color: white; cursor: pointer; }
    &.hidden { top: -70px; }
  }
}

#we-believe {
  @include flexBox(column);
  @include size(100vw, 100vh);
  @include pos(relative, 0, 0, 0, 0, 1);
  overflow: hidden;

  #we-believe__vid {
    @include pos(absolute, $t:-100px, $l:-100px, $z:0);
    @include size(130%, 130%);
  }
  .believe-container {
    @include flexBox(column);
    @include size(848px, 470px);
    @include pos(relative, $b:23px, $z:5);
  }
  .believe-text {
    @include flexBox(column, $justify:flex-end);
    @include bg($i:'../imgs/we-believe.png', $p:center, $s:contain);
    @include size(848px, 315px);
  }
  .believe-copy {
    @include size(555px);
    @include font($fs:.85rem, $fw:200, $lh:1.7rem, $ta:center, $ls:.7px);
    margin-top: 13px;
    color: $lightGray;
  }
  .play-video {
    @include size(50px, 50px);
    border: 2px solid $white;
    border-radius: 50%;
    margin-top: 29px;
  }
}

#tour {
  @include flexBox(column, $justify:flex-start);
  @include size(100vw);
  background-color: $lightGray;

  .tour-box {
    @include flexBox;
    @include size(130px, 50px);
    font-size: .7rem;
    margin: 150px 0 57px 0;
    border: 2px solid $gray;
    color: $mediumGray;
  }

  .tour-copy {
    @include flexBox(column);
    @include size(628px);
    h1 { 
      @include font($fs:3rem, $fw:200, $ls:.9px, $ff:'Sentinel'); 
      color: $copyBlack;
    }
    p { 
      @include font($ff:Montserrat, $fw:200, $fs:.95rem, $ta:center, $lh:1.6rem); 
      color: $copyGray;
      margin: 20px 0 70px 0;
    }
  }

  .tour-carousel {
    @include flexBox;
    @include size($navWidth, 530px);
    @include pos(relative);
    margin: 3px 0 150px 0;
    // background-color: pink;
    border-radius: 7px;
    overflow: hidden;
    .carousel-container {
      @include size($navWidth, 530px);
      @include pos(absolute, $l:0);
      @include flexBox;
      border: medium solid blue;
    }
    .img {
      @include size(calc(#{$navWidth / 3}), 530px); 
      border: medium solid purple;
      overflow: hidden;
      // display: none;
    }
    .side { 
      @include size(calc(#{$navWidth / 2}), 530px); 
      // display: none;
      // @include pos(absolute);
      opacity: .2;
    }
    .left-button { background-color: red; cursor: w-resize; }
    .right-button { background-color: green; cursor: e-resize; }
  }

  .spacer {
    @include size(100px, 100px);
    background-color: green;
    margin-top: 1000px;
  }

}

.texture-border {
  @include size(100vw, 300px);
  @include pos(absolute, $b:0, $z:100);
  @include bg($i:'../imgs/texture.png', $p:center bottom -5px);
}

@media (max-width: 1400px) {
  .home__nav, .nav-container {
    width: $navWidth1400;
  }
}
