$navGray: RGBA(34, 34, 34, 1.00);
$navHeight: 70px;
$white: RGBA(250, 250, 250, 1.00);
$lightGray: RGBA(238, 238, 238, 1.00);
$gray: RGBA(217, 217, 217, 1);
$copyBlack: RGBA(34, 34, 34, 1.00);
$copyGray: RGBA(105, 105, 105, 1.00);
$mediumGray: RGBA(189, 189, 189, 1.00);

$navWidth: 1240px;
$navWidth1400: 840px;